ion-toolbar {
    display: flex;
    --min-height: 30px !important;
}
ion-title {
    display: flex;
    text-align: center;
    font-size: 18px;
}

#logo {
    position: absolute;
    top: 5%;
    left: 8%;
    height: 280px; 
    width: 280px;

}
ion-card {
    top: 35%;
}

ion-card-title {
    bottom: 5px;
    
}

.button {
    bottom: 30px;
}

ion-icon {
    margin-right: 10px;
}

.signup {
    text-align: right;
    margin: 0.3rem 0.1rem 0 0;
    font-size: 1rem;
}

.with {
    text-align: center;
    
}