<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>
        <ion-slide style="background-color: #E6E6E6;">
          <div class="slide1">
            <img id="bmi2" src="assets/imgs/bmi2.png"/>
            <h2 class="wel">Welcome</h2>
            <p>
              Are you in the healthy range? Use this tool to calc​ulate your Body Mass 
              Index (BMI) now to know your risk for obesity-related diseases.
            </p>
            <ion-button fill="clear"><ion-icon name="chevron-back-outline"></ion-icon>Swipe</ion-button>
          </div>
        </ion-slide>

        <ion-slide class="slide2">
          <div class="slide2">
          <img id="calcu" src="assets/imgs/bmi3.png"/>
          <h2>Get Started</h2>
          <p>
            Use this calculator to check your body mass index <b>(BMI)</b> and find out if 
            you're a healthy weight. Or you can use it to check your child's <b>BMI</b>
            </p>
          <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-app>
</ion-content>
